.text-bloque {
    color: #dc3545 !important;
}

.text-en-cours {
    color: #f39c12 !important;
}

.text-valide {
    color: #28a745 !important;
}

.cell-bloque {
    background-color: rgba(231, 60, 80, 0.7) !important;
    color: #fff !important;
    border-radius: 999px;
    padding: 6%;
}

.cell-en-cours {
    color: #f39c12 !important;
}

.cell-valide {
    color: rgba(20, 184, 64, 0.7) !important;
    color: #fff !important;
    border-radius: 15px;
}

.task-group-border {
    display: table-row-group;
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.1),
        0 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 15px 15px;
}

.task-group-border td {
    padding-left: 10px;
    padding-bottom: 10px;
}

table {
    border-separate: separate;
    border-spacing: 0 15px;
}

.ts-wrapper.multi .ts-control {
    border: 2px solid #D1D5DB !important;
    border-radius: 0.5rem !important;
    padding: 0.5rem 0.75rem !important;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.ts-wrapper.multi.focus .ts-control {
    border-color: #9CA3AF !important;
    outline: none !important;
}

.ts-wrapper.multi .ts-control>div {
    background-color: #F3F4F6 !important;
    border-radius: 4px !important;
    color: #374151 !important;
}